@import "../../common/colors.scss";

.card_item {
  background-color: $secondary-color;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  min-height: 480px;
  height: 100%;
  margin: 1px;
}

.card_item:hover {
  transform: scale(1.04);
}

.card_top {
  height: 300px;
  img {
    width: 100%;
    height: 100%;
  }
}

.card_info {
  color: $font-primary;
  h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
}

.card_bottom {
  padding: 20px;
}
