@import "../src/common/colors.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
a {
  text-decoration: none;
  color: $font-primary;
}

body {
  background: $primary-color;
}

.container {
  margin: 0 40px;
}
